* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: linear-gradient(#6dc4ff, rgb(86, 159, 255));
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;

  color: #fff;
}

#title {
  text-align: center;
  font-size: 8rem;
  font-family: sans-serif;
}
#wrapper,
#buttons {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

#wrapper {
  margin: 0 auto;
  justify-content: center;
  margin-top: 5rem;
}

#wrapper h3,
#wrapper span {
  font-size: 6rem;
  font-family: sans-serif;
}

.btn {
  margin-top: 5rem;
  border: 3px white solid;
  border-radius: 12px;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #fff;
  font-size: 4rem;
}

.btn i {
  color: #fff;
  margin-right: 1rem;
  pointer-events: none;
  cursor: pointer;
}

.nr-wr {
  width: 10rem;
  text-align: center;
}

@media screen and(max-width: 1196px) {
  #title {
    font-size: 6rem;
  }
  .btn {
    font-size: 3rem;
    margin-top: 3rem;
  }
  #wrapper h3,
  #wrapper span {
    font-size: 5rem;
  }
  #wrapper {
    margin-top: 3rem;
  }
}

@media screen and(max-width: 918px) {
  #title {
    font-size: 5rem;
  }
  .btn {
    font-size: 2rem;
    margin-top: 2rem;
  }
  #wrapper h3,
  #wrapper span {
    font-size: 4rem;
  }
  #wrapper {
    margin-top: 2rem;
  }
  main {
    width: 75%;
  }
}
@media screen and(max-width: 516px) {
  #title {
    font-size: 3rem;
  }
  .btn {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  #wrapper h3,
  #wrapper span {
    font-size: 3rem;
  }
  #wrapper {
    margin-top: 2rem;
  }
  main {
    width: 85%;
  }
}

@media screen and(max-width: 400px) {
  #title {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  #wrapper h3,
  #wrapper span {
    font-size: 3rem;
  }
  #wrapper {
    margin-top: 1.5rem;
  }
  main {
    width: 90%;
  }
}
