* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#43caff), to(#0021b4));
  background: linear-gradient(#43caff, #0021b4);
}

svg,
i {
  pointer-events: none;
}

header {
  padding: 2rem;
  max-height: 20vh !important;
}

nav {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: white;
}

#title {
  font-size: 6rem;
  font-weight: 600;
  margin-right: 2rem;
}

#date i {
  font-size: 4rem;
}

.searchbar {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inputWrapper {
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0 3rem;
}

.inputWrapper i {
  font-size: 2rem;
  self-align: center;
}

#searchIco {
  cursor: pointer;
  display: inline-block;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.925);
}

input[type="search"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.925);
}

input[type="search"]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.925);
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.925);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  border: none;
  width: 40rem;
  background: transparent;
  min-height: 4rem;
  font-size: 2.5rem;
  color: white;
}

main {
  padding: 0 2rem;
  min-height: 60vh !important;
}

.mainWrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.saved,
#current-search {
  height: 50rem;
  background: black;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0 3rem;
}

.saved {
  width: 40%;
  margin-right: 2rem;
}

#current-search {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
}

.sub-t {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  padding: 2rem;
  min-height: 10vh;
}

.fooWrapper {
  width: 90%;
  margin: 0 auto;
}

#saveRegion {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  background: #102541;
  cursor: pointer;
}

#saveRegion:active {
  background: #163358;
}

.current-desc {
  padding: 0 3rem;
  font-size: 2rem;
  margin-top: auto;
}

.current-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: auto;
  margin-top: 3rem;
}

.img-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-temp > h1 {
  font-size: 4rem;
}

#city {
  margin: 0 auto;
  font-size: 4.5rem;
  font-weight: 600;
}

.current-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5rem;
  padding: 0 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.text-i {
  margin-left: 0.5rem;
}

.wind-speed {
  font-size: 3rem;
  margin-right: 2rem;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 3rem;
}

.temp > h3 {
  margin-right: 2rem;
}

#temp-max {
  margin-left: 2rem;
}

#airH {
  font-size: 3rem;
}

.saved-el {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 159, 219, 0.5)), to(rgba(0, 57, 131, 0.5))), url("../img/sky.jpg");
  background: linear-gradient(rgba(7, 159, 219, 0.5), rgba(0, 57, 131, 0.5)), url("../img/sky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  height: 10%;
  max-height: 10% !important;
  cursor: pointer;
}

.saved-el > div {
  pointer-events: none;
}

.img-temp-saved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
}

.img-temp-saved > img {
  width: 80px;
  height: auto;
}

#city-saved {
  font-size: 2rem;
  margin-left: auto;
  color: white;
  margin-right: 2rem;
}

#remove-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 0 1.5rem;
  border-radius: 0 0 0 1rem;
  cursor: pointer;
  background: #37afff;
  color: #faf8f8;
}
/*# sourceMappingURL=style.css.map */